{
  "name": "dsgraphics-starter-kit-master",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "assets/css/main.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "assets/css/1-tools/_fonts.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "assets/css/1-tools/_normalize.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "assets/css/1-tools/breakpoint/_breakpoint.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "assets/css/2-basics/_susy-settings.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "assets/css/2-basics/_body-element.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "assets/css/3-modules/_contact-form.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"assets/css/contact-form.css\",\"autoCompile\":false,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "app/assets/styles/main.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"app/temp/css/main.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "app/assets/scripts/App.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"app/temp/js/App.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "app/assets/scripts/Vendor.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"app/temp/js/Vendor.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "app/assets/styles/1-tools/_tools-materialize.sass",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "assets/css/3-modules",
      "assets",
      "app",
      "app/temp/styles",
      "app/temp/scripts",
      "app/assets",
      "app/temp",
      "app/assets/scripts",
      "app/assets/styles/1-tools",
      "app/assets/styles/2-setup/base",
      "app/assets/styles"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "app/assets/styles/main.sass",
      "imports": [
        "app/assets/styles/1-tools/tools.sass",
        "app/assets/styles/2-setup/setup.sass",
        "app/assets/styles/3-modules/modules.sass",
        "app/assets/styles/4-pages/pages.sass",
        "bower_components/breakpoint-sass/stylesheets/_breakpoint.scss",
        "bower_components/juice/dist/_juice.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/hamburgers.scss",
        "app/assets/styles/1-tools/_tools-mixins.sass",
        "app/assets/styles/2-setup/_setup-base.sass",
        "app/assets/styles/2-setup/_setup-fonts.scss",
        "app/assets/styles/2-setup/_setup-button-effects.sass",
        "app/assets/styles/2-setup/_setup-layout.sass",
        "app/assets/styles/2-setup/_setup-materialize-forms.sass",
        "app/assets/styles/3-modules/_module-large-hero.sass",
        "app/assets/styles/3-modules/_module-nav-overlay.sass",
        "app/assets/styles/3-modules/_module-hamburger.sass",
        "app/assets/styles/3-modules/_module-flipcards.sass",
        "app/assets/styles/3-modules/_module-gridoverlay.sass",
        "app/assets/styles/3-modules/_module-grid.sass",
        "app/assets/styles/4-pages/_1-site-header.sass",
        "app/assets/styles/4-pages/_2-site-primary-nav.sass",
        "app/assets/styles/4-pages/_3-site-sections.sass",
        "app/assets/styles/4-pages/_4-site-footer.sass",
        "bower_components/breakpoint-sass/stylesheets/breakpoint/_settings.scss",
        "bower_components/breakpoint-sass/stylesheets/breakpoint/_context.scss",
        "bower_components/breakpoint-sass/stylesheets/breakpoint/_helpers.scss",
        "bower_components/breakpoint-sass/stylesheets/breakpoint/_parsers.scss",
        "bower_components/breakpoint-sass/stylesheets/breakpoint/_no-query.scss",
        "bower_components/breakpoint-sass/stylesheets/breakpoint/_respond-to.scss",
        "bower_components/breakpoint-sass/stylesheets/breakpoint/_legacy-settings.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/_base.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_3dx.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_3dx-r.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_3dy.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_3dy-r.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_3dxy.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_3dxy-r.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_arrow.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_arrow-r.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_arrowalt.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_arrowalt-r.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_arrowturn.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_arrowturn-r.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_boring.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_collapse.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_collapse-r.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_elastic.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_elastic-r.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_emphatic.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_emphatic-r.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_minus.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_slider.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_slider-r.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_spin.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_spin-r.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_spring.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_spring-r.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_stand.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_stand-r.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_squeeze.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_vortex.scss",
        "bower_components/css-hamburgers/_sass/hamburgers/types/_vortex-r.scss",
        "app/assets/styles/2-setup/base/_variables.sass",
        "app/assets/styles/2-setup/base/_typography.sass",
        "app/assets/styles/2-setup/base/_layout.sass",
        "app/assets/styles/2-setup/base/_lists.sass",
        "app/assets/styles/2-setup/base/_media.sass",
        "app/assets/styles/2-setup/base/_tables.sass",
        "app/assets/styles/2-setup/base/_buttons.sass",
        "app/assets/styles/2-setup/base/_tooltip.sass",
        "app/assets/styles/2-setup/base/_selection-colors.sass",
        "bower_components/breakpoint-sass/stylesheets/breakpoint/parsers/_query.scss",
        "bower_components/breakpoint-sass/stylesheets/breakpoint/parsers/_single.scss",
        "bower_components/breakpoint-sass/stylesheets/breakpoint/parsers/_double.scss",
        "bower_components/breakpoint-sass/stylesheets/breakpoint/parsers/_triple.scss",
        "bower_components/breakpoint-sass/stylesheets/breakpoint/parsers/_resolution.scss",
        "bower_components/breakpoint-sass/stylesheets/breakpoint/parsers/single/_default.scss",
        "bower_components/breakpoint-sass/stylesheets/breakpoint/parsers/double/_default-pair.scss",
        "bower_components/breakpoint-sass/stylesheets/breakpoint/parsers/double/_double-string.scss",
        "bower_components/breakpoint-sass/stylesheets/breakpoint/parsers/double/_default.scss",
        "bower_components/breakpoint-sass/stylesheets/breakpoint/parsers/triple/_default.scss",
        "bower_components/breakpoint-sass/stylesheets/breakpoint/parsers/resolution/_resolution.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7883,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "localhost"
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 3
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"sourceMap\":true}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": false,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}